<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> SocialSharing Crash </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">SocialSharing Crash</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button
      color="danger"
      size="large"
      (click)="callShareWithOptionsCrash()"
      >Crash</ion-button
    >
    <ion-button size="large" (click)="callShareWithOptionsSuccess()"
      >Success</ion-button
    >
  </div>
</ion-content>
